.c-footer {
  background-color: $wp-meliora__neutral-gray-light-color;
  padding: 0;
  font-size: 0.75rem;
}

.c-footer__top {
  background-color: $wp-meliora__neutral-white;
}

.c-footer__top__back-to-top__link {
  width: 63px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  background-color: $wp-meliora__neutral-white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  text-decoration: none;
  border-radius: 50%;
  transform: translateY(27px);

  .dashicons {
    font-size: 14px;
  }
}

.c-footer__top__back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
}


.c-footer__bottom {
  padding: 40px 0;
}
