.c-footer {
  background-color: $wp-meliora__neutral-gray-light-color;
  padding: 0;
  font-size: 0.75rem;
  margin-top: auto;
}

.c-footer__top {
  background-color: $wp-meliora__neutral-white;
}

.c-footer__top__back-to-top__link {
  width: 63px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
  background-color: $wp-meliora__neutral-white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  text-decoration: none;
  border-radius: 50%;
  transform: translateY(27px);

  .dashicons {
    font-size: 14px;
  }
}

.c-footer__top__back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
}


.c-footer__bottom {
  padding: 40px 0;
}

.c-footer__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media(laptop) {
    flex-wrap: nowrap;
  }
}

.c-footer__copyright {
  padding: 0 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  p {
    margin: 0;
  }

  @include media(laptop) {
    margin-top: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
}

.c-footer__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 42px;
  padding: 0 15px;

  @include media(laptop) {
    width: auto;
    margin-top: 0;
    padding: 0;
  }
}

.s-footer-socials {

  a {
    text-decoration: none;
    color: $wp-meliora__base-font-color;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      span {
        color: $wp-meliora__primary-color;
      }
    }
  }
}

.c-footer__branding {
  margin-bottom: 32px;

  @include media(tablet) {
    margin-right: 42px;
    margin-bottom: 0;
  }
}

.s-footer-branding {
  a {
    text-decoration: none;
  }

  img {
    height: 28px;
    width: auto;
  }
}
