* {
  word-wrap: break-word;
  white-space: normal;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

blockquote {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  border-left: 2px solid $wp-meliora__neutral-gray-color;
  padding-left: 22px;
  color: $wp-meliora__secondary-color;

  cite {
    color: $wp-meliora__tertiary-color;
  }
}

address {
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

pre {
  background: $color__background-pre;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  color: $wp-meliora__secondary-color;
}

code,
kbd,
tt,
var {

}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}
