body,
button,
input,
select,
optgroup,
textarea {
	color: $digital-interface__secondary-color;
	font-family: $digital-interface__primary-font;
	font-size: $digital-interface_base-font-size;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
