.main-navigation {

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: $wp-meliora__neutral-white;

    @include media(tablet) {
      position: relative;
      background: transparent;
      animation: unset;
    }

    ul {
      float: left;
      position: relative;
      width: 100%;
      display: none;
      flex-direction: column;
      clear: both;
      padding: 10px 0;
      top: unset;
      left: unset;

      @include media(tablet) {
        border: 1px solid $wp-meliora__neutral-dark-gray-color;
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
        flex-direction: column;
        clear: both;
        padding: 0;
        width: auto;
      }

      ul {
        width: 100%;

        @include media(tablet) {
          left: -999em;
          top: 0;
        }
      }

      li {
        margin: 0;
        display: flex;
        align-items: center;

        span {
          margin-right: 8px;
          transition: $global-transition;
          transform-origin: center center;
        }

        &:hover, &:focus-within {
          background-color: $wp-meliora__neutral-gray-light-color;

          & > a {
            color: $wp-meliora__main-primary-light-color;
          }
        }

        @include media(tablet) {
          &:hover > ul,
          &.focus > ul {
            display: block;
            left: 100%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: $wp-meliora__quaternary-color;
        padding: 10px 20px;
        text-align: center;
        white-space: nowrap;
      }
    }

    li:hover > ul,
    li.focus > ul,
    li:focus-within > ul {
      left: auto;
      display: block;
    }

    &.sub-menu {
      background-color: $wp-meliora__neutral-white;
    }
  }

  li {
    position: relative;
    margin-right: 48px;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    font-weight: var(--heading-typography-variant);
    transition: $global-transition;
    display: block;
    text-decoration: none;
    color: $wp-meliora__tertiary-color;
    padding: 10px 0;

    @include media(tablet) {
      color: $wp-meliora__neutral-dark-gray-color;
    }

    &:hover {
      color: $wp-meliora__main-primary-light-color;
    }
  }

  @include media(tablet) {
    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
      color: $wp-meliora__main-primary-light-color;
      border-bottom: 2px solid $wp-meliora__neutral-dark-gray-color;
    }
  }

  & > ul > li.menu-item-has-children {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      color: $wp-meliora__neutral-dark-gray-color;
      transition: $global-transition;
      margin-left: 8px;
      transform-origin: center center;
      font-size: 14px;
      width: 10px;
      height: 10px;
    }

    &:hover {
      color: $wp-meliora__main-primary-light-color;
    }
  }

  & > ul ul li.menu-item-has-children {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include media(tablet) {
      flex-wrap: nowrap;
    }

    span {
      transform-origin: center center;
      transform: rotate(0deg);
      color: $wp-meliora__neutral-dark-gray-color;

      @include media(tablet) {
        transform: rotate(-90deg);
        margin-left: auto;
      }

      &::before {
        font-size: 14px;
      }
    }
  }
}

/* Small menu. */
.main-navigation.toggled > ul {
  display: block;
  width: calc(100% + 30px);
  left: -15px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  min-height: 100vh;
  padding-top: 32px;
  background-color: $wp-meliora__neutral-white;
  padding-bottom: 10px;
  border-bottom: 1px solid $wp-meliora__neutral-gray-light-color;
  z-index: 9;
  overflow-y: scroll;
  max-height: 100%;
  animation: fadeInFromNone 0.4s forwards;
}

@include media(tablet){

  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}


// Animations

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
