button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: $global-radius;
	border: 0;
	background: $digital-interface__primary-color;
	color: #fff;
	line-height: 1;
	padding: 0;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
