input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $wp-meliora__main-primary-light-color;
  border: none;
  border-radius: $global-radius;
  background-color: $wp-meliora__neutral-gray-light-color;
  padding-right: 8px;
  padding-left: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 0.75rem;
  line-height: 1.5em;

  &::placeholder {
    color: $wp-meliora__main-primary-light-color;
    opacity: 1;
  }

  &:focus {
    color: $wp-meliora__main-primary-color;
  }
}

select {
  color: $wp-meliora__main-primary-light-color;
  border: none;
  border-radius: $global-radius;
  background-color: $wp-meliora__neutral-gray-light-color;
  padding: 10px 14px;
}

textarea {
  width: 100%;
}
