.site.is-sidebar-content {

	.site-main__container {
		display: flex;
		flex-wrap: wrap;

		@include media(laptop) {
			flex-wrap: nowrap;
		}
	}

	.site-main__content {
		flex-grow: 1;
		order: 2;
		width: 100%;

		@include media(laptop) {
			width: 62%;
		}
	}

	.sidebar {
		width: 100%;
		order: 2;

		@include media(laptop) {
			width: $size__site-sidebar;
			order: 1;
		}
	}
}

.site-header {
  width: 100%;
}

.site-main {
  width: auto;
	flex-grow: 1;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
  width: $size__site-sidebar;
}

.site-footer {
  width: 100%;
}
