.site.is-sidebar-content {
  .site-main__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include media(laptop) {
      flex-wrap: nowrap;
    }
  }

  .c-sidebar {
    @include media(laptop) {
      padding-right: 100px;
    }
  }

  .site-main__content {
    flex-grow: 1;
    order: 2;
    width: 100%;

    @include media(laptop) {
      width: 62%;
    }
  }

  .sidebar {
    width: 100%;
    order: 2;

    @include media(laptop) {
      width: $size__site-sidebar;
      order: 1;
    }
  }
}

.site-header {
  width: 100%;
}

.site-main {
  width: auto;
  flex-grow: 1;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  padding: 0 var(--global--spacing-horizontal);

  @include media(tablet) {
    padding: var(--global--spacing-unit) var(--global--spacing-horizontal);
  }
}

.widget-area {
  width: $size__site-sidebar;
}

.site-footer {
  width: 100%;
}

.site-main__content__title {
  margin: 0 0 25px;
}
