$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$digital-interface__primary-color: var(--primary-color);
$digital-interface__secondary-color: var(--secondary-color);
$digital-interface__tertiary-color: var(--tertiary-color);
$digital-interface__main-primary-color: #000000;
$digital-interface__main-primary-dark-color: #000000;
$digital-interface__main-primary-light-color: #474747;
$digital-interface__neutral-dark-gray-color: #ABABAB;
$digital-interface__neutral-gray-color: #DFDFDF;
$digital-interface__neutral-gray-light-color: #F4F4F4;
$digital-interface__neutral-white: #FFFFFF;

$digital-interface__service-error-color: #891900;

