$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #DFDFDF;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;

$wp-meliora__primary-color: var(--wp-meliora-primary-color);
$wp-meliora__base-font-color: var(--wp-meliora-base-font-color);
$wp-meliora__heading-color: var(--wp-meliora-heading-color);
$wp-meliora__main-primary-color: #000000;
$wp-meliora__main-primary-light-color: #474747;
$wp-meliora__neutral-gray-color: #DFDFDF;
$wp-meliora__neutral-gray-light-color: #F4F4F4;
$wp-meliora__neutral-white: #FFFFFF;

$wp-meliora__service-error-color: #891900;

$wp-meliora__link-normal-color: var(--wp-meliora-link-normal-color);
$wp-meliora__link-hover-color: var(--wp-meliora-link-hover-color);
