$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$digital-interface__primary-font: var(--text-typography-font-family);
$digital-interface__secondary-font: var(--heading-typography-font-family);
$digital-interface_base-font-size: var(--text-typography-font-size);
$digital-interface_heading-font-size: var(--heading-typography-font-size);
